* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.products_container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  width: 80%;
  margin: 70px auto 0;
  gap: 12px;
}

.productCard_container {
  width: 30%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 12px;
  margin: auto;
  word-wrap: break-word;
}

.productCard_img {
  object-fit: contain;
  flex-shrink: 1;
  width: 100%;
  height: 281px;
  margin-bottom: 20px;
}

.productCard_btn {
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 25px;
  background-color: #ffa430;
  border: none;
  transition: all 0.2s ease-in;
}

.productCard_btn:hover {
  background-color: #f1b668;
  transform: translate(2px, -2px);
}

.productCard_price {
  margin: 20px 0;
}

.rating {
  margin: 20px 0;
}

.star_style {
  color: #ffa41c;
}

@media screen and (max-width: 1147px) {
  .productCard_container {
    width: 45%;
  }
}

@media screen and (max-width: 700px) {
  .productCard_container {
    width: 90%;
  }
}
